# Data Science Tools and Ecosystem

####  In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:** 
- R
- Paython
- SQL

# Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. Pandas
3. NumPy

## Data Science Tools Table

| Data Science Tools | 
| -------------| 
| Git | 
| R Studio | 
| Unix Shell |

### Below are a few examples of evaluating arithmetic expressions in Python

###### This a simple arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

###### This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

## Author
###### Mohamad Hadla